<h1>Pictures</h1>
<%= link_to "New Picture", "/pictures/new" %>


<% @pictures.each do |picture| %>
	<p><%= picture[:title] %>, <%= picture[:artist] %></p>
	<img src="<%= picture[:url] %>">
	<%= link_to "Edit Picture", edit_picture_path(picture) %><br>
<% end %>